html { height: 100%; margin: 0; padding: 0; }

body { height: 100%; margin: 0; }

header { width: 100%; height: 70px; background: #81DAF5;
		 position: fixed; top: 0; z-index: 100; }
		 
		 header #logo { width: 300px; height: 50px; padding-top: 10px;
		 				text-align: right; position: absolute; top: 0; left: 0; }
		 		#logo h1 { font-size: 24px; margin: 0; }
		 		#logo h2 { font-size: 14px; margin: 0; }
		 		
		 header #search { width: 400px; height: 28px; margin-left: 400px; margin-top: 20px; }
		 		#search #textbox { width: 250px; height: 25px; }
		 		#search #submit  { width: 70px;  height: 25px; }
		 		
		 header #settings { width: 440px; height: 70px; position: absolute; top: 0; right: 0; }
		 		#settings h3 { display: inline; float: left; line-height: 70px; margin: 0; }
		 		#settings #toggle { width: 300px; height: 30px; margin: 20px; float: right; }

div#map_canvas { width: 50%; height: 75%; float: left; }

div#youtube    { width: 49%; height: 75%; float: right; }

div#bottombar  { width: 100%; height: 23%; padding-top: 1%; }

div#info       { width: 50%; height: 100%; float: left; background: #BBB;
		 -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 box-sizing: border-box;
		 padding: 1%; text-align: center;
	       }

div#controls   { width: 49%; height: 100%; float: right; background: #BBB; text-align: center; }