<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>

    <script src="static/jquery.js"></script>

    <script type="text/javascript"
      src={{s}}>
    </script>
    <script src="static/map.js"></script>

  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:50%; height:75%"></div>
    <button id="clear" type="button">clear all</button>
    <button id="remove" type="button">remove selected</button>
    <div id="address">{{address}}</div>
    <div id="url">{{url}}</div>
    <iframe id="ytplayer" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=0&origin=http://example.com"
  frameborder="1"/>
  </body>
</html>
