<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <style type="text/css">
      @import "style.css";
    </style>

    <script src="static/jquery.js"></script>

    <script type="text/javascript"
      src={{s}}>
    </script>
    <script src="static/map.js"></script>

  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:50%; height:75%"></div>
    <button id="clear" type="button">clear all</button>
    <button id="remove" type="button">remove selected</button>
    <div id="address">{{address}}</div>
    <div id="url">{{url}}</div>
  </body>
</html>
